table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 16px;
    text-align: left;
  }
  
  thead th {
    background-color: #f4f4f4;
    padding: 10px;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  td, th {
    padding: 12px;
    border: 1px solid #ddd;
  }
  button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    opacity: 0.8;
  }
  
  button:nth-child(1) {
    background-color: #4CAF50; 
    color: white;
  }
  
  button:nth-child(2) {
    background-color: #f44336; 
    color: white;
  }
  