<div *ngIf="users.length; else noData">
    <h2>Users Table</h2>
    <table border="1" cellspacing="0" cellpadding="8">
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Gender</th>
                <th>Email</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.firstName }}</td>
                <td>{{ user.lastName }}</td>
                <td>{{ user.age }}</td>
                <td>{{ user.gender }}</td>
                <td>{{ user.email }}</td>
                <td>
                    <button (click)="updateUser(user)">Update</button>
                    <button (click)="deleteUser(user.id)">Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<ng-template #noData>
    <p>Loading users or no users available.</p>
</ng-template>