<div class="form-container">
    <form [formGroup]="AddUserForm" (ngSubmit)="onSubmit()" class="form">
        <div class="form-group">
            <input type="text" placeholder="First Name" formControlName="firstName" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Last Name" formControlName="lastName" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Username" formControlName="username" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" placeholder="Gender" formControlName="gender" class="form-control">
        </div>
        <div class="form-group">
            <input type="number" placeholder="Age" formControlName="age" class="form-control">
        </div>
        <div class="form-group">
            <input type="email" placeholder="Email" formControlName="email" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn">Submit</button>
        </div>

    </form>
    <br>
    <div class="form-group">
        <button type="submit" class="btn"><a href="Dashboard">Dashboard</a></button>
    </div>
</div>